<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{% block title %}Calima{% endblock %}</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org - studio7designs.com" />
  <meta name="description" content="Calima - Memoria del clima" />
  <meta name="keywords" content="clima, serie temporal, temperatura, máximos, mínimos" />

  <link rel="stylesheet" type="text/css" href="/static/css/layout.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="/static/css/html.css" media="screen, projection, tv " />
    <script src="/static/js/raphael.js" type="text/javascript" charset="utf-8"></script> 
    <script src="/static/js/g.raphael.js" type="text/javascript" charset="utf-8"></script> 
    <script src="/static/js/g.bar.js" type="text/javascript" charset="utf-8"></script> 
</head>

<body>

<!-- #content: holds all except site footer - causes footer to stick to bottom -->
<div id="content">

  <!-- #header: holds the logo and top links -->
  <div id="header" class="width">

    <img src="/static/images/logo.gif" alt="Your logo goes here" --/>

    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="">Abredatos 2011</a></li>
      <li><a href="" class="last">Sobre AEMET</a></li>
    </ul>

  </div>
  <!-- #header end -->


  <!-- #headerImg: holds the main header image or flash -->
  <div id="headerImg" class="width">
    <img src="/static/images/calima-300x76.png" alt="Your logo goes here"/>
  </div>

<!-- #menu: the main large box site menu -->
  <div id="menu" class="width">

    <ul>
      <li>
        <a href="/estadisticas/" onfocus="blur()">
          <span class="title ">Estadísticas</span>
          <span class="desc">Temperaturas máx, mín</span>        </a>      </li>
      <li>
        <a href="/provincias/" class="forum" onfocus="blur()">
          <span class="title ">Provincias</span>
          <span class="desc style3">Lista de provincias</span>        </a>      </li>
      <li>
        <a href="/estaciones/" onfocus="blur()">
          <span class="title ">Estaciones</span>
          <span class="desc">Lista de estaciones</span>
        </a>
      </li>
      <li>
        <a href="contact.html" onfocus="blur()">
          <span class="title ">Contact Us Layout</span>
          <span class="desc">View the included layout</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- #menu end -->



  <!-- #page: holds the page content -->
  <div id="page">

    <!-- #columns: holds the columns of the page -->
    <div id="columns" class="widthPad">

    <!-- Single column -->
    <div class="floatLeft width100">

      {% block content %}
      <h1>Calima</h1>
      {% endblock %}
      <p>
    </div>
    <!-- Single column end -->


    </div>
    <!-- #columns end -->

  </div>
  <!-- #page end -->

</div>
<!-- #content end -->




<!-- #footer: holds the site footer (logo and links) -->
<div id="footer">

  <!-- #bg: applies the site width and footer background -->
  <div id="bg" class="width">

    <img src="/static/images/logo.gif" alt="Your logo goes here"/>c

    <ul>
      <li><a href="">Sitemap</a></li>
      <li><a href="">Design inspired by</a></li>
      <li><a href="http://www.studio7designs.com" class="last">studio7designs.com</a></li>
	 </ul>

  </div>
  <!-- #bg end -->

</div>
<!-- #footer end -->

</body>
</html>
