{% extends 'calima_index.html' %}

{% block title %}Estacion: {{ station.code }} {{ station.name }}
{% endblock %}

{% block content %}
<h1>Estacion: {{ station.code }} {{ station.name }}{% if parameters %}
    Filtrado por
    {% if parameters.year %}ano: {{ parameters.year }}{% endif %}
{% endif %}
</h1>
  <script type="text/javascript" charset="utf-8"> 
            window.onload = function () {
                var r = Raphael("holder");
                r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
                
                r.g.text(100, 10, "Temperatura maxima");

                r.g.barchart(10, 10, 300, 220, {{ data_t_max}}, 0, {type: "sharp"});
            };
        </script> 
<div id="holder"></div>

<h2>Filtra por anho</h2>
{% for year in years %}
    <a href="?year={{ year.year }}">{{ year.year }}</a>
{% endfor %}
<h2>Otros valores</h2>
<a href="/caligo/stations/{{ station.code }}/temperatura/maximo">Temperaturas maximas</a>
<a href="/caligo/stations/{{ station.code }}/temperatura/minimo">Temperaturas minimas</a>
<a href="/caligo/stations/{{ station.code }}/viento/racha/maximo">Racha de viento maximas</a>
<a href="/caligo/stations/{{ station.code }}/viento/racha/minimo">Racha de viento minimas</a>
<a href="/caligo/stations/{{ station.code }}/precipitacion_diaria/maximo">Precipitaciones maximas</a>
<a href="/caligo/stations/{{ station.code }}/precipitacion_diaria/minimo">Precipitaciones minimas</a>
{% for daily in data %}
    <ul>
        {% include "dailyreport.html" %}
    </ul>
{% endfor %}

{% endblock %}
