{% extends 'calima_index.html' %}

{% block title %}Estacion: {{ station.code }} {{ station.name }} {% endblock %}

{% block content %}
<h1>Estacion: {{ station.code }} {{ station.name }}</h1>
  <script type="text/javascript" charset="utf-8"> 
            window.onload = function () {
                var r = Raphael("holder");
                r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
                
                r.g.text(100, 10, "Temperatura maxima");

                r.g.barchart(10, 10, 300, 220, {{ data_t_max}}, 0, {type: "sharp"});
            };
        </script> 
<div id="holder"></div>
<h2>Filtra por anho</h2>
{% for year in years %}
    <a href="?year={{ year.year }}">{{ year.year }}</a>
{% endfor %}
<h2>Filtra por mes</h2>
{% for month in months %}
    <a href="{{ parameters }}?month={{ month.month }}">{{ month.month }}</a>
{% endfor %}

{% for daily in data %}
    <ul>
        {% include "dailyreport.html" %}
    </ul>
{% endfor %}

{% endblock %}
